<div class="page-layout carded  fullwidth inner-scroll">
  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">
      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <button class="mat-icon-button mr-0 mr-sm-16" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">
          <mat-icon class="logo-icon s-32 mr-16" [@animate]="{ value: '*', params: { delay: '50ms', scale: '0.2' } }">
            edit
          </mat-icon>
          <span class="logo-text h1" [@animate]="{ value: '*', params: { delay: '100ms', x: '-25px' } }">
            reactivetestForm
          </span>
        </div>
        <div fxFlex="100" fxFlex.gt-sm="40" class="pl-20  pr-16" fxLayoutAlign="end">
          <button [disabled]="reactivetestForm.invalid" mat-fab color="warn" (click)="onSave()">
            <mat-icon class="icon-position">save</mat-icon>
          </button>
        </div>
      </div>
      <!-- / APP TITLE -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">
      <!-- CONTENT -->
      <div class="content">
        <mat-tab-group fxFlex>
          <mat-tab label="reactivetest">
            <form [formGroup]="reactivetestForm">
              <div fxLayout="column" fxLayout.gt-xs="row wrap" fxFlex="100">

                <div fxLayout="row wrap" fxFlex="100">
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>เลขที่บัตรประจำตัวประชาชน</mat-label>
                      <input matInput formControlName="citizenId" name="citizenId" placeholder="Enter your contact no">
                      <mat-error
                        *ngIf="reactivetestForm.get('citizenId').invalid && (reactivetestForm.get('citizenId').dirty || reactivetestForm.get('citizenId').touched)"
                        class="alert alert-danger">
                        <mat-error *ngIf="reactivetestForm.get('citizenId').errors.required">
                          กรุณาใส่เลขที่บัตรประจำตัวประชาชน.
                        </mat-error>
                        <mat-error *ngIf="reactivetestForm.get('citizenId').errors.maxlength">
                          กรุณาใส่เลขที่บัตรประจำตัวประชาชนให้ครบ 13 หลัก.
                        </mat-error>
                        <mat-error *ngIf="reactivetestForm.get('citizenId').errors.minlength">
                          กรุณาใส่เลขที่บัตรประจำตัวประชาชนให้ครบ 13 หลัก.
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="50" class="pl-20 pr-16">
                    <mat-form-field class="example-full-width" appearance="outline" fxFlex>
                      <mat-label>เบอร์โทรศัพท์</mat-label>
                      <input matInput formControlName="phoneNumber" name="phoneNumber"
                        placeholder="Enter your contact no">
                      <mat-error
                        *ngIf="reactivetestForm.get('phoneNumber').invalid && (reactivetestForm.get('phoneNumber').dirty || reactivetestForm.get('phoneNumber').touched)"
                        class="alert alert-danger">
                        <mat-error *ngIf="reactivetestForm.get('phoneNumber').errors.required">
                          กรุณาใส่เบอร์โทรศัพท์.
                        </mat-error>
                        <mat-error *ngIf="reactivetestForm.get('phoneNumber').errors.maxlength">
                          กรุณาใส่เบอร์โทรศัพท์ให้ครบ 10 หลัก.
                        </mat-error>
                        <mat-error *ngIf="reactivetestForm.get('phoneNumber').errors.minlength">
                          กรุณาใส่เบอร์โทรศัพท์ให้ครบ 10 หลัก.
                        </mat-error>
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <!-- <div fxLayoutAlign="center" fxFlex="100" fxFlex.gt-xs="37.5" class="pl-20 pr-16">
                   
                  </div> -->
                </div>

                {{reactivetestForm.value | json}}
              </div>
            </form>
          </mat-tab>

        </mat-tab-group>
        <!--  -->
      </div>
      <!-- /CONTENT -->
    </div>
    <!-- /CONTENT CARD -->
  </div>
  <!-- /CENTER -->
</div>